{% extends "base.html" %}
{% block title %}Home - Portfolio{% endblock %}
{% block content %}
<section class="intro">
    <h1>Hi, I'm Paturi Jayasree </h1>
    <p>Data Science Enthusiast | ML Practitioner | Web Developer.</p>
    <p>I specialize in Python, Flask, Machine Learning, and full-stack web apps.</p>
</section>
<section class="objective">
    <p>
        Detail-oriented and technically proficient individual. Skilled in Python, SQL, and machine learning algorithms with a strong foundation in statistics and data wrangling. 
        Eager to contribute to impactful data projects as a Data Science Intern.
    </p>
</section>
<p>
    <a href="https://github.com/Jayasree2904" target="_blank">GitHub</a>
</p>
{% endblock %}
