{% extends "base.html" %}
{% block title %}Skills{% endblock %}
{% block content %}
<h2>Skills</h2>
<div class="skill-grid">
    <div class="block">
        <h3>Technical Skills</h3>
        <ul>
            <li>Python, R, Java</li>
            <li>Scikit-learn, TensorFlow, PyTorch, Keras</li>
            <li>Pandas, NumPy, Matplotlib, Seaborn</li>
            <li>MySQL, PostgreSQL, MongoDB</li>
            <li>HTML, CSS, JavaScript</li>
        </ul>
    </div>
    <div class="block">
        <h3>Soft Skills</h3>
        <ul>
            <li>Effective Communication</li>
            <li>Decision Making</li>
            <li>Time Management</li>
            <li>Team Collaboration</li>
            <li>Problem Solving</li>
        </ul>
    </div>
    <div class="block">
        <h3>Languages Known</h3>
        <ul>
            <li>English</li>
            <li>Telugu</li>
            <li>Hindi</li>
        </ul>
    </div>
</div>
{% endblock %}
